@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kalnia:wght@400;500;600&family=Lobster&family=Rubik+Doodle+Shadow&family=Space+Grotesk:wght@400;500;600&display=swap');


*{
    font-family: Lobster;
    font-size: x-large;
}


.logo {
    color: blueviolet;
    & span {
        color: turquoise;
    }
}

.nav-menu {
    list-style-type: none !important;
}

.card-list {
    color: black;
}

.icons {
    
    padding: 3rem;
    & .whatsapp {
        color: #44C153;
        font-size: 3rem;
    }
    & .facebook{
         color: #1773EA;
         font-size: 3rem;
    }

    & .telegram {
        color: #2FA3D9;
        font-size: 3rem;
    }
    
    & .instagram {
        color:#F4059C ;
        font-size: 3rem;
    }
   :hover {
    cursor: pointer;
   }
}

.gallery-btn {
    width: 3rem;
    background-color: darkorange;
    &:hover {
       background-color: blueviolet ;
       color:white ;
    }
}

.random-image {
    height: 100vh;

 & img {
    height: 100%;
}
}

.gallery {
    color: #DA0136;
    font-family: Kalnia;
    height: 100vh;
}

.text {
    padding: 1rem;
    font-family: Grotesk;
    color: #1F2024;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

/* footer {
    background: linear-gradient(90deg, rgba(126,205,205,1) 44%, rgba(232,233,148,1) 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
    
} */

main {
    background: linear-gradient(90deg, rgba(48,81,72,1) 44%, rgba(232,233,148,1) 100%); 
    border-radius: 2rem;
}

.contact {
    list-style-type: none;
    font-family: Fjalla One;
    color: darkturquoise;
}

section > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}